@use 'variaveis';
.article--layout {
    text-align: center;    
    
    & h2 {
        font-size: variaveis.$fonteDois;
    }

    & p {
        font-size: variaveis.$fonteParagrafo;
    }

    & img {
        width: 50%;
        padding: 8px;
    }

    .secao--conhecer {
        font-size: variaveis.$fonteParagrafo;
        margin: 16px;
        & ul {
            margin-bottom: 12px;
        }

        & li{
            list-style: none;

            & a {
                text-decoration: none;
            }
        }
        
    }
}