@use 'variaveis';

@mixin listFormat() {
    color: variaveis.$titleLinksColors;
    text-decoration: none;
}

.article--layout {
    text-align: center;   
    
    & h2 {
        font-size: variaveis.$fonteDois;
        color: variaveis.$titleLinksColors;
    }

    & p {
        font-size: variaveis.$fonteParagrafo;
    }

    & img {
        width: 50%;
        padding: 8px;
    }

    & figure a {
        text-decoration: none;
        color: #000;
    }

    .secao--conhecer {
        font-size: variaveis.$fonteParagrafo;
        margin: 16px;
    
        & ul {
            margin-bottom: 12px;
        }

        & li{
            list-style: none;

            & a {
                @include listFormat();
                &:hover {
                    color: darken($color: coral, $amount: 15);
                }
            }
        }
        
        & p a {
            color: variaveis.$titleLinksColors;
            text-decoration: none;

        }
    }
}